<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pinball</title>
	<script src="libs/planck.js"></script>
	<script src="libs/three.min.js"></script>
    <script src="libs/ColladaLoader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/Scene.js"></script>
    <script src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<button id="playSingleplayerBtn">Singleplayer</button></br>
	<button id="playMultiplayerBtn">Multiplayer</button>
</body>
</html>
